
Kalkulator/.vs/VSWorkspaceState.json
Kalkulator/.vs/slnx.sqlite
Kalkulator/.vs/Kalkulator/v17/ipch/AutoPCH/e80be66cec643483/LOADER.ipch
Kalkulator/.vs/Kalkulator/v17/ipch/AutoPCH/a685ea949f25eeb0/KALKULATOR.ipch
Kalkulator/.vs/Kalkulator/v17/ipch/AutoPCH/9b6d7ae18b075667/LOADER.ipch
Kalkulator/.vs/Kalkulator/v17/ipch/AutoPCH/7e8647432ee3aa14/KALKULATOR.ipch
Kalkulator/.vs/Kalkulator/v17/ipch/AutoPCH/71da4d88f44a357f/KALKULATOR.ipch
Kalkulator/.vs/Kalkulator/v17/ipch/AutoPCH/35f323098916767d/KALKULATOR.ipch
Kalkulator/.vs/Kalkulator/v17/Browse.VC.opendb
Kalkulator/.vs/Kalkulator/v17/Browse.VC.db-wal
Kalkulator/.vs/Kalkulator/v17/Browse.VC.db-shm
Kalkulator/.vs/Kalkulator/v17/Browse.VC.db
Kalkulator/.vs/Kalkulator/v17/.wsuo
Kalkulator/.vs/Kalkulator/v17/.suo
Kalkulator/.vs/Kalkulator/FileContentIndex/fa368733-d151-46c6-957e-9f5ac9b252cf.vsidx
Kalkulator/.vs/Kalkulator/FileContentIndex/b3cf1175-a1ba-4ec4-8279-f18334d6271d.vsidx
Kalkulator/.vs/Kalkulator/FileContentIndex/b3c54b90-31d5-4b34-ac86-9bce51ca1839.vsidx
Kalkulator/.vs/Kalkulator/FileContentIndex/64deea7f-e7af-4bed-94a4-bf459623226b.vsidx
Kalkulator/.vs/Kalkulator/FileContentIndex/2c9e2558-c8ab-47b9-bae7-1d45eb4606cc.vsidx
Kalkulator/.vs/Kalkulator/FileContentIndex/0309690f-98d8-4e6f-a799-774e1d2c15d9.vsidx
Kalkulator/.vs/cmake.db
Kalkulator/.vs/VSWorkspaceState.json
Kalkulator/.vs/slnx.sqlite
Kalkulator/.vs/Kalkulator/v17/ipch/AutoPCH/a685ea949f25eeb0/KALKULATOR.ipch
Kalkulator/.vs/Kalkulator/v17/Browse.VC.db
Kalkulator/.vs/Kalkulator/v17/.suo
Kalkulator/.vs/Kalkulator/FileContentIndex/fa368733-d151-46c6-957e-9f5ac9b252cf.vsidx
Kalkulator/.vs/Kalkulator/FileContentIndex/2c9e2558-c8ab-47b9-bae7-1d45eb4606cc.vsidx
